<!DOCTYPE html>
<html>
<head>
	<title>Awesome - Main Page</title>

	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/home">
</head>
<body>
	<header class="image-carousel">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div id="thumbnail-preview-indicators" class="carousel slide" data-ride="carousel" data-interval="2500">
					<!-- Indicators -->
						<a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
						<ol class="carousel-indicators">
						<li data-target="#thumbnail-preview-indicators" data-slide-to="0" class="active">
						<!-- <div class="thumbnail">
							<img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/wdXqHcTwSTmLuKOGz92L_Landscape.jpg">
						</div> -->
						</li>
						<li data-target="#thumbnail-preview-indicators" data-slide-to="1">
						<!-- <div class="thumbnail">
							<img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/tU3ptNgGSP6U2fE67Gvy_SYDNEY-162.jpg">
						</div> -->
						</li>
						<li data-target="#thumbnail-preview-indicators" data-slide-to="2">
						<!-- <div class="thumbnail">
							<img class="img-responsive" src="https://s3.amazonaws.com/ooomf-com-files/mtNrf7oxS4uSxTzMBWfQ_DSC_0043.jpg">
						</div> -->
						</li>
						</ol>
						<a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
						<div class="carousel-inner">
							<div class="item slides active">
								<div class="slide-1"></div>
									<div class="container">
										<div class="carousel-caption">
											<h1>New carousel layout</h1>
											<p>Responsive thumbnail preview in carousel indicators.</p>
											<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
										</div>
									</div>
							</div>
							<div class="item slides">
								<div class="slide-2"></div>
									<div class="container">
										<div class="carousel-caption">
											<h1>Another example headline.</h1>
											<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
											<p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
										</div>
									</div>
							</div>
							<div class="item slides">
								<div class="slide-3"></div>
									<div class="container">
										<div class="carousel-caption">
											<h1>One more for good measure.</h1>
											<p>Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
											<p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
										</div>
									</div>
							</div>
						</div>
						<a class="left carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
						<a class="right carousel-control" href="#thumbnail-preview-indicators" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
					</div> 
				</div>
			</div>
		</div>
	</header>
	<section class="general-info">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="text-block">
						<h1>Welcome to Awesome! Inc.</h1>
						<h4>We make great products for people all over the world</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="info-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 inner-block inner-block-1">
					<div class="text-block">
						<h4>Item 1</h4>
						<h6>Cool. Fast. Awesome.</h6>
					</div>
					<div class="image-block">
						
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 inner-block inner-block-2">
					<div class="text-block">
						<h4>Item 2</h4>
						<h6>Our new app.</h6>
					</div>
					<div class="image-block">
						
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 inner-block inner-block-3">
					<div class="text-block">
						<h4>Item 3</h4>
						<h6>Fast. Beautiful. Perfect.</h6>
					</div>
					<div class="image-block">
						
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 inner-block inner-block-4">
					<div class="text-block">
						<h4>Item 4</h4>
						<h6>Awesome accessories for your device <br>by Awesome.</h6>
					</div>
					<div class="image-block">
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="bottom-links">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-6 col-xs-6 block">
					<div class="text-block">
						<h5>Browse our products</h5>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 block">
					<div class="text-block">
						<h5>Awesome Store</h5>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 block">
					<div class="text-block">
						<h5>For students</h5>
						<h6>Link</h6>
						<br>
						<h5>For businesses</h5>
						<h6>Link</h6>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 block">
					<div class="text-block">
						<h5>About Awesome</h5>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
						<h6>Link</h6>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class=footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-">
					<div class="country-selection">
						
					</div>
				</div>
				<div class="col">
					<div class="copyrigth-block">
						<h5>Copyrigth &copy; <%= Time.current.year %> Awesome Inc.</h5>
					</div>
				</div>
				<div class="col">
					<div class="links-block">
						<h6 class="inner-link"><a href="/mock">Mock</a></h6>
						<h6 class="inner-link"><a href="/mock">Mock</a></h6>
						<h6 class="inner-link"><a href="/mock">Mock</a></h6>
						<h6 class="inner-link"><a href="/mock">Mock</a></h6>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>