<!DOCTYPE html>
<html>
<head>
	<title>Awesome - Main Page</title>

	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/home">
</head>
<body>
	<header class="image-carousel">
		<div class="row">
			<div class="col-12">
				
			</div>
		</div>
	</header>
	<section class="info-block">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				
			</div>
		</div>
	</section>
</body>
</html>