<div class="what-we-do-partial">	
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 link-block">
			<a href="">
				<div class="inner-block">
					<div class="image-block">
						<img src="/public_images/programming.png" class="image">
					</div>
					<div class="text-block">
						<h4>Software development</h4>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 link-block">
			<a href="">
				<div class="inner-block">
					<div class="image-block">
						<img src="/public_images/light_bulb_on.png" class="image">
					</div>
					<div class="text-block">
						<h4>Innovations</h4>
					</div>
				</div>
			</a>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 link-block">
			<a href="">
				<div class="inner-block">
					<div class="image-block">
						<img src="/public_images/line_chart.png" class="image">
					</div>
					<div class="text-block">
						<h4>Data analysis</h4>
					</div>
				</div>
			</a>
		</div>	
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 link-block">
			<a href="">
				<div class="inner-block">
					<div class="image-block">
						<img src="/public_images/tap.png" class="image">
					</div>
					<div class="text-block">
						<h4>Future vision</h4>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>