<section class="header-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 block">
				<div class="text-block">
					<h3>Contact Us</h3>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="call-us">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="text-block">
					<h4>Call us</h4>
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12 phone-number-list">
				<div class="text-block">
					<h5>Customer Support</h5>
					<h6>US (555) 888-1001</h6>
					<h6>Canada (777) 999-1001</h6>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 phone-number-list">
				<div class="text-block">
					<h5>Experience Feedback</h5>
					<h6>US (555) 888-1000</h6>
					<h6>Canada (777) 999-1000</h6>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 email-us-link">
				<div class="text-block">
					<h6>or <a href="#email-form">email us</a></h6>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="email-us">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="text-block">
					<h4>Email us</h4>
				</div>
			</div>
			<div class="">
				
			</div>
		</div>
	</div>
</section>
<section class="customer-support">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="text-block">
					<h3>Customer Support</h3>
					<h4>Get best support possible</h4>
				</div>
			</div>
		</div>
		<div class="row info-block">
			<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 col-xs-12">
				<div class="text-block">
					<h4>Mock</h4>
					<h5>Mock</h5>
					<h5>Mock</h5>
					<h5>Mock</h5>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<div class="text-block">
					<h4>Mock</h4>
					<h5>Mock</h5>
					<h5>Mock</h5>
					<h5>Mock</h5>
				</div>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-block">
				<div class="text-block">
					<h4>Have more questions?</h4>
					<h5>Visit <a href="/faq">FAQ</a> page or <a href="#email-form">email us</a></h5>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact-form-section" id="email-form">
	<div class="container">
		<div class="row">
			<div class="col">
				
			</div>
		</div>
	</div>
</section>