<section class="header-section">
	<div class="container-fluid">
		<div class="row inner-block">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-block">
				<div class="text-block">
					<h2>Contact</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact-form" id="contact-form">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12 block">
				<div class="header-text-block">
					<h3>Ask us anything</h3>
				</div>
				<div class="form-block">
					
				</div>
			</div>
		</div>
	</div>
</section>
<section class="more-info">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-block">
				<div class="text-block">
					<h2>Want to find out more?</h2>
					<h3>Visit our <a href="/about">About</a> &amp; <a href="/faq">FAQ</a> pages</h3>
				</div>
			</div>
		</div>
	</div>
</section>