<section class="header-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-block">
				<div class="text-block">
					<h1>Test</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="vacancies-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 vacancies-block">
				<div class="">
					
				</div>
			</div>
		</div>
	</div>
</section>
<section class="vacancies-bottom-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 inner-block">
				<div class="text-block">
					<h3>Visit our <a href="#">IT Academy</a></h3>
				</div>
			</div>
		</div>
	</div>
</section>