<section class="header-block">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 image-block">
				<div class="text-block">
					<h3>Test</h3>
				</div>
			</div>
		</div>
	</div>
</section>