@media only screen and (max-width : 480px) {
	/*Top Image*/

	.top-image .image-block {
		height: 300px;
		background-color: black;
	}

	.top-image .motto {
		padding-top: 150px;
		text-align: center;
	}

	/*General Text*/

	.general-text .top-text-block h1 {
		/*h2*/
		font-size: 28px;
		line-height: 1.3;
		margin: 1em 0 .2em;
	}

	.general-text .text-block {
		padding-top: 10px;
	}

	/*Details Links*/

	.details-links .block {
		height: 560px;
		background-color: green;
	}
}

@media only screen and (max-width : 768px) {
	/*Top Image*/

	.top-image .image-block {
		height: 500px;
		background-color: green;
	}

	.top-image .motto {
		padding-top: 350px;
		text-align: center;
	}

	/*General Text*/

	/*Details Links*/

	.details-links .block {
		height: 560px;
		background-color: green;
	}
}

@media only screen and (max-width : 992px) {
	/*Top Image*/

	/*General Text*/

	/*Details Links*/
}

@media only screen and (max-width : 1200px) {
	/*Top Image*/

	/*General Text*/

	/*Details Links*/
}

/*Top Image*/

.top-image .image-block {
	height: 500px;
	width: 100%;
	background-color: black;
	margin-top: -20px;
}

.top-image .motto {
	padding-top: 350px;
	text-align: center;
}

.top-image .motto .text-block h3 {
	color: #f1f1f1;
}

/*.top-image .text-block {
	text-align: center;
	padding-top: 170px;
}*/

/*General Text*/

.general-text {
}

.general-text .top-text-block {
	text-align: center;
	padding-top: 50px;
	height: 200px;
}

.general-text .text-block {
	padding-top: 20px;
}

.general-text .text-block p {
	font-size: 18px;
}

.general-text .logo-block {
	background-color: black;
}

/*Details Links*/

.details-links .block .block{
	height: 280px;
	background-color: green;
	background-color: green;
}

.details-links .image-block-1,
.details-links .image-block-2,
.details-links .image-block-3,
.details-links .image-block-4 {
	border: 2px solid black;
	height: 280px;
}

.details-links .text-block {
	text-align: center;
	margin-top: 230px;
}

/*Statistics*/

.statistics {
	margin-top: 50px;
}

.statistics .block {
	height: 150px;
}

.statistics .block .text {
	text-align: center;
}

/*Image Links*/

.image-links {
	margin-top: 30px;
}

.image-links .block {
	height: 180px;
	border: 1px solid black;
}

.image-links .block .inner-block {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	border: 1px solid red;
}

/*Company Values*/

.company-values {
	margin-top: 30px;
}

.company-values .top-text-block {
	text-align: center;
	padding-top: 20px;
}

.company-values .text-block {
	text-align: center;
	padding-top: 20px;
}

/*Team*/

.team {

}

.team .description .text-block {
	text-align: center;
	margin-top: 50px;
	height: 50px;
}

.team .images .image-block {
	height: 180px;
	border: 1px solid black;
	margin-top: 50px;
}

.team .team-section-btn {
	text-align: center;
	margin-top: 30px;
}

/*Address Info*/

.address-info {
	margin-top: 500px;
}

.address-info .image-block {
	height: 500px;
	background-color: green;
}

.address-info .image-block .text-block {
	padding-top: 250px;
	color: #e1e1e1;
}

.address-info .map-block .text {
	height: 100px;
	text-align: center;
	margin-top: 50px;
}

.address-info .map-block .google-maps {
	height: 400px;
	pointer-events: none;
}

.address-info .text-block {
	text-align: center;
	margin-top: 100px;
	height: 100px;
	margin-bottom: 100px;
}

/*Contact Us*/

.contact-us {
	margin-top: 50px;
	margin-bottom: 50px;
}

.contact-us .header-text-block {
	text-align: center;
	margin-top: 50px;
}

.contact-us .text-block {
	margin-top: 50px;
}

/*Bottom Image*/

.bottom-image {
	background-color: black;
	height: 500px;
}