@media only screen and (max-width : 480px) {
	/*Top Image*/

	.top-image .image-block {
		height: 300px;
		background-color: black;
	}

	.top-image .motto {
		padding-top: 150px;
		text-align: center;
	}

	/*General Text*/

	.general-text .top-text-block h1 {
		/*h2*/
		font-size: 28px;
		line-height: 1.3;
		margin: 1em 0 .2em;
	}

	.general-text .text-block {
		padding-top: 10px;
	}

	/*Details Links*/

	.details-links .block {
		height: 560px;
		background-color: green;
	}
}

@media only screen and (max-width : 768px) {
	/*Top Image*/

	.top-image .image-block {
		height: 500px;
		background-color: green;
	}

	.top-image .motto {
		padding-top: 350px;
		text-align: center;
	}

	/*General Text*/

	/*Details Links*/

	.details-links .block {
		height: 560px;
		background-color: green;
	}
}

@media only screen and (max-width : 992px) {
	/*Top Image*/

	/*General Text*/

	/*Details Links*/
}

@media only screen and (max-width : 1200px) {
	/*Top Image*/

	/*General Text*/

	/*Details Links*/
}

/*Top Image*/

.top-image .image-block {
	height: 500px;
	width: 100%;
	background-image: url('/public_images/about_us.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: -20px;
}

.top-image .motto {
	margin-top: 200px;
	text-align: center;
	color: white;
}

.top-image .motto .text-block h3 {
	color: #f1f1f1;
}

/*.top-image .text-block {
	text-align: center;
	padding-top: 170px;
}*/

/*General Text*/

.general-text {
}

.general-text .top-text-block {
	text-align: center;
	margin-top: 50px;
	height: 200px;
}

.general-text .text-block {
	margin-top: 20px;
}

.general-text .text-block p {
	font-size: 18px;
}

.general-text .logo-block {
	background-color: black;
}

.details-links {
	height: auto;

	.container-fluid {
		.text-block {
			text-align: center;
		}
	}
}

/*Statistics*/

.statistics {
	height: auto;
	margin-top: 50px;
	background-color: rgba(19,41,60,0.2);
}

.statistics .block {
	margin-top: 50px;
	height: 150px;
}

.statistics .block .text {
	text-align: center;
}

/*Image Links*/

.image-links {
	margin-top: 30px;
}

.image-links .block {
	height: 180px;
	border: 1px solid black;
}

.image-links .block .inner-block {
	width: 80%;
	height: 100%;
	margin: 0 auto;
	border: 1px solid red;
}

/*Company Values*/

.company-values {
	margin-top: 30px;
}

.company-values .top-text-block {
	text-align: center;
	padding-top: 20px;
}

.company-values .text-block {
	text-align: center;
	padding-top: 20px;
}

/*Team*/

.team {

}

.team .description .text-block {
	text-align: center;
	margin-top: 50px;
	height: 50px;
}

.team .images .image-block {
	height: 180px;
	border: 1px solid black;
	margin-top: 50px;
}

.team .team-section-btn {
	text-align: center;
	margin-top: 30px;
}

/*Address Info*/

.address-info {
	height: auto;
}

.address-info .image-block {
	height: 500px;
	background-image: url('/public_images/office.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.address-info .image-block .text-block {
	padding-top: 200px;
	color: black;
}

.address-info .map-block .text {
	height: 100px;
	text-align: center;
	margin-top: 50px;
}

.address-info .map-block .google-maps {
	height: 400px;
	pointer-events: none;
}

.address-info .text-block {
	text-align: center;
	margin-top: 100px;
	height: 100px;
	margin-bottom: 120px;
}

/*Contact Us*/

.contact-us-about {

	.container-fluid {
		height: 500px;
		background-image: url('/public_images/about_us_bottom.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		
		.header-text-block {
			text-align: center;
			margin-top: 100px;
			color: white;
		}
		
		.text-block {
			margin-top: 100px;
			text-align: center;
			color: white;

			.btn-primary {
				background-color: rgba(19,41,60,1);
			}
		}
	}
}