/*Header*/

.header-section {

}

.header-section .text-block {
	text-align: center;
}

/*Call Us*/

.call-us {
	margin-top: 50px;
}

.call-us .text-block {
	text-align: center;
}

.call-us .phone-number-list {
	margin-top: 30px;
}

.call-us .email-us-link {
	margin-top: 30px;
}

/*Email Us*/

/*Customer Support*/

.customer-support {
	margin-top: 50px;
}

.customer-support .text-block {
	text-align: center;
}

.customer-support .info-block {
	margin-top: 30px;
}

.customer-support .bottom-block {
	margin-top: 50px;
}