/*Mobile first approach*/
@media only screen and (max-width : 320px) {

}

@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 1200px) {

}

/*Header*/

.image-carousel {
	height: 500px;
	width: 100%;
	background-color: black;
	margin-top: -20px;
}
