@media only screen and (max-width : 320px) {
	/*Header*/

	.header-section {
		height: auto;
	}

	.header-section .inner-block {
		height: 500px;
	}

	/*Vacancies*/

	.vacancies-section {
		height: auto;
	}

	.vacancies-section .vacancies-block {
		height: 500px;
	}

	/*Vacancies Bottom*/

	.vacancies-bottom-section {
		height: auto;
	}

	.vacancies-bottom-section .inner-block {
		height: 500px;
		background-color: green;
	}

	.vacancies-bottom-section .inner-block .text-block {
		text-align: center;
		margin-top: 200px;
	}
}

@media only screen and (max-width : 480px) {
	/*Header*/

	.header-section {
		height: auto;
	}

	.header-section .inner-block {
		height: 500px;
	}

	/*Vacancies*/

	.vacancies-section {
		height: auto;
	}

	.vacancies-section .vacancies-block {
		height: 500px;
	}

	/*Vacancies Bottom*/

	.vacancies-bottom-section {
		height: auto;
	}

	.vacancies-bottom-section .inner-block {
		height: 500px;
		background-color: green;
	}

	.vacancies-bottom-section .inner-block .text-block {
		text-align: center;
		margin-top: 200px;
	}
}

@media only screen and (max-width : 768px) {
	/*Header*/

	.header-section {
		height: auto;
	}

	.header-section .inner-block {
		height: 500px;
	}

	/*Vacancies*/

	.vacancies-section {
		height: auto;
	}

	.vacancies-section .vacancies-block {
		height: 500px;
	}

	/*Vacancies Bottom*/

	.vacancies-bottom-section {
		height: auto;
	}

	.vacancies-bottom-section .inner-block {
		height: 500px;
		background-color: green;
	}

	.vacancies-bottom-section .inner-block .text-block {
		text-align: center;
		margin-top: 200px;
	}
}

@media only screen and (max-width : 992px) {
	/*Header*/

	.header-section {
		height: auto;
	}

	.header-section .inner-block {
		height: 500px;
	}

	/*Vacancies*/

	.vacancies-section {
		height: auto;
	}

	.vacancies-section .vacancies-block {
		height: 500px;
	}

	/*Vacancies Bottom*/

	.vacancies-bottom-section {
		height: auto;
	}

	.vacancies-bottom-section .inner-block {
		height: 500px;
		background-color: green;
	}

	.vacancies-bottom-section .inner-block .text-block {
		text-align: center;
		margin-top: 200px;
	}
}

@media only screen and (max-width : 1200px) {
	/*Header*/

	.header-section {
		height: auto;
	}

	.header-section .inner-block {
		height: 500px;
	}

	/*Vacancies*/

	.vacancies-section {
		height: auto;
	}

	.vacancies-section .vacancies-block {
		height: 500px;
	}

	/*Vacancies Bottom*/

	.vacancies-bottom-section {
		height: auto;
	}

	.vacancies-bottom-section .inner-block {
		height: 500px;
		background-color: green;
	}

	.vacancies-bottom-section .inner-block .text-block {
		text-align: center;
		margin-top: 200px;
	}
}

/*Header*/

.header-section {
	height: auto;
}

.header-section .inner-block {
	height: 500px;
}

/*Vacancies*/

.vacancies-section {
	height: auto;
}

.vacancies-section .vacancies-block {
	height: 500px;
}

/*Vacancies Bottom*/

.vacancies-bottom-section {
	height: auto;
}

.vacancies-bottom-section .inner-block {
	height: 500px;
	background-color: green;
}

.vacancies-bottom-section .inner-block .text-block {
	text-align: center;
	margin-top: 200px;
}
